## Quantitative value strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports

In [114]:
import pandas as pd
import numpy as np
import requests
import xlsxwriter
import math
from scipy import stats
from scipy.stats import percentileofscore as score
from statistics import mean

## Importing Our List of Stocks & API Token

In [115]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call
It's now time to make the first version of our value screener!

We'll start by building a simple value screener that ranks securities based on a single metric (the price-to-earnings ratio).

In [116]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()

## Parsing Our API Call

In [117]:
price = data['latestPrice']
pe_ratio=data['peRatio']

## Executing A Batch API Call & Building Our DataFrame

In [118]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [119]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
tickers = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))

my_columns = ['Tickers', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
    batch_api_url_call = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_url_call).json()
    for symbol in symbol_string.split(','):
        try:
            d = dict(zip(my_columns, [symbol,
                                     data[symbol]['quote']['latestPrice'],
                                     data[symbol]['quote']['peRatio'],
                                     'N/A']))
            tickers.append(d)
        except:
            continue
            
final_dataframe = pd.DataFrame(tickers)
final_dataframe

    Tickers   Price  Price-to-Earnings Ratio Number of Shares to Buy
0         A  141.14                    35.11                     N/A
1       AAL   17.48                    -5.50                     N/A
2       AAP  224.59                    22.93                     N/A
3      AAPL  176.98                    29.99                     N/A
4      ABBV  165.06                    25.94                     N/A
..      ...     ...                      ...                     ...
497     YUM  123.19                    23.89                     N/A
498     ZBH  128.07                    67.13                     N/A
499    ZBRA  437.52                    27.31                     N/A
500    ZION   73.56                     7.17                     N/A
501     ZTS  197.67                    44.41                     N/A

[502 rows x 4 columns]

## Removing Glamour Stocks
The opposite of a "value stock" is a "glamour stock".

Since the goal of this strategy is to identify the 50 best value stocks from our universe, our next step is to remove glamour stocks from the DataFrame.

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the top 50.

In [120]:
final_dataframe = final_dataframe.sort_values('Price-to-Earnings Ratio',ascending=False)[:50]
final_dataframe.reset_index(drop = True, inplace = True)

## Calculating the Number of Shares to Buy

In [121]:
def portofolio_input():
    global portofolio_size, val
    portofolio_size = input('Enter the value of your portofolio: ')
    
    try:
        val = float(portofolio_size)
    except:
        print('Please enter a number')
        portofolio_size = input('Enter the value of your portofolio: ')
portofolio_input()

Enter the value of your portofolio:
Please enter a number
Enter the value of your portofolio: 10000000

In [122]:
position_size = val / len(final_dataframe.index)
for i in range(0, len(final_dataframe.index)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] =math.floor(position_size/final_dataframe['Price'][i])

   Tickers    Price  Price-to-Earnings Ratio Number of Shares to Buy
0      NOW   582.39                   518.51                     343
1      VTR    64.70                   497.91                    3091
2     DXCM   486.17                   317.30                     411
3      KSU   293.97                   288.40                     680
4      FTI     8.03                   269.50                   24906
5      ALB   225.82                   210.45                     885
6     SBAC   345.41                   158.16                     579
7      FIS    97.62                   149.45                    2048
8      CRM   212.25                   148.28                     942
9     EQIX   711.08                   132.00                     281
10     UDR    57.70                   124.72                    3466
11    WELL   100.53                   123.47                    1989
12     IFF   132.10                   119.98                    1514
13     TYL   444.64                   112.78                     449
14    ABMD   334.02                   112.23                     598
15     HLT   156.70                   108.52                    1276
16    PAYC   352.39                   105.50                     567
17    COTY     9.16                   104.48                   21834
18    FTNT   339.48                    95.88                     589
19    ADSK   217.45                    95.44                     919
20     VNO    46.86                    91.91                    4268
21     DAL    39.63                    90.56                    5046
22     DIS   144.30                    85.39                    1386
23     STE   246.92                    83.33                     809
24    BKNG  2292.52                    83.30                      87
25       O    68.45                    82.09                    2921
26    NVDA   284.19                    75.14                     703
27     HBI    15.79                    71.74                   12666
28     CLX   137.00                    70.72                    1459
29     CCI   181.38                    70.25                    1102
30     RMD   243.91                    70.21                     819
31    ILMN   347.08                    70.09                     576
32     CMG  1595.74                    68.76                     125
33     ZBH   128.07                    67.13                    1561
34    CDNS   164.22                    65.81                    1217
35     HWM    38.00                    65.13                    5263
36     BSX    44.80                    64.33                    4464
37    IDXX   559.86                    64.04                     357
38    ISRG   291.21                    62.93                     686
39    ANSS   316.96                    61.72                     630
40    APTV   123.78                    61.45                    1615
41     HES   112.05                    61.34                    1784
42     VAR   182.10                    60.42                    1098
43    ALXN   188.40                    59.52                    1061
44     ADI   170.81                    59.51                    1170
45    INTU   474.57                    59.19                     421
46      EA   129.99                    58.73                    1538
47    MSCI   503.66                    58.67                     397
48     TIF   134.58                    57.60                    1486
49     NEM    82.00                    56.12                    2439

## Building a Better (and More Realistic) Value Strategy
Every valuation metric has certain flaws.

For example, the price-to-earnings ratio doesn't work well with stocks with negative earnings.

Similarly, stocks that buyback their own shares are difficult to value using the price-to-book ratio.

Investors typically use a `composite` basket of valuation metrics to build robust quantitative value strategies. In this section, we will filter for stocks with the lowest percentiles on the following metrics:

- Price-to-earnings ratio
- Price-to-book ratio
- Price-to-sales ratio
- Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
- Enterprise Value divided by Gross Profit (EV/GP)

Some of these metrics aren't provided directly by the IEX Cloud API, and must be computed after pulling raw data. We'll start by calculating each data point from scratch.

In [123]:
symbol = 'NOW'
batch_api_url_call = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_url_call).json()

In [124]:
# Price-to-earnings ratio
pe_ratio = data[symbol]['quote']['peRatio']

# Price-to-book ratio
pb_ratio = data[symbol]['advanced-stats']['priceToBook']

# Price-to-sales ratio
ps_ratio = data[symbol]['advanced-stats']['priceToSales']

# Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
ebitda = data[symbol]['advanced-stats']['EBITDA']
ev_to_ebitda = enterprise_value/ebitda

# Enterprise Value divided by Gross Profit (EV/GP)
gross_profit = data[symbol]['advanced-stats']['grossProfit']
ev_to_gp = enterprise_value/gross_profit

Let's move on to building our DataFrame. You'll notice that I use the abbreviation `rv` often. It stands for `robust value`, which is what we'll call this sophisticated strategy moving forward.

In [125]:
rv_columns = ['Ticker',
             'Price',
             'Number of Shares to Buy',
             'Price-to-Earnings Ratio',
             'PE Percentile',
             'Price-to-Book Ratio',
             'PB Percentile',
             'Price-to-Sales Ratio',
             'PS Percentile',
             'EV/EBITDA',
             'EV/EBITDA Percentile',
             'EV/GP',
             'EV/GP Percentile',
             'RV Score']

rv_dataframe = pd.DataFrame(columns = rv_columns)
rv_tickers = []
for symbol_string in symbol_strings:
    batch_api_url_call = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_url_call).json()
    for symbol in symbol_string.split(','):
        try:
            enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
            ebitda = data[symbol]['advanced-stats']['EBITDA']
            gross_profit = data[symbol]['advanced-stats']['grossProfit']
            ev_to_ebitda = enterprise_value/ebitda
        except TypeError:
            ev_to_ebitda = np.NaN
        except KeyError:
            continue
        try:
            ev_to_gp = enterprise_value/gross_profit
        except TypeError:
            ev_to_gp = np.NaN
        except KeyError:
            continue
        rv_d = dict(zip(rv_columns, [symbol,
                                    data[symbol]['quote']['latestPrice'],
                                    'N/A',
                                    data[symbol]['quote']['peRatio'],
                                    'N/A',
                                    data[symbol]['advanced-stats']['priceToBook'],
                                    'N/A',
                                    data[symbol]['advanced-stats']['priceToSales'],
                                    'N/A',
                                    ev_to_ebitda,
                                    'N/A',
                                    ev_to_gp,
                                    'N/A',
                                    'N/A']))
        rv_tickers.append(rv_d)

rv_dataframe = pd.DataFrame(rv_tickers)
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,140.92,N/A,35.52,N/A,8.25,N/A,6.3500,N/A,24.907457,N/A,12.033629,N/A,N/A
1,AAL,17.22,N/A,-5.80,N/A,-1.50,N/A,0.3842,N/A,-11.864407,N/A,1.215118,N/A,N/A
2,AAP,223.80,N/A,23.58,N/A,4.39,N/A,1.2000,N/A,12.678941,N/A,2.852355,N/A,N/A
3,AAPL,178.85,N/A,30.33,N/A,41.17,N/A,7.8400,N/A,23.277958,N/A,17.978103,N/A,N/A
4,ABBV,166.02,N/A,25.18,N/A,19.37,N/A,5.2300,N/A,12.343089,N/A,8.784427,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,YUM,122.06,N/A,23.72,N/A,-4.21,N/A,5.3400,N/A,20.218081,N/A,9.429021,N/A,N/A
498,ZBH,129.20,N/A,65.82,N/A,2.15,N/A,3.4800,N/A,19.249530,N/A,5.767800,N/A,N/A
499,ZBRA,444.11,N/A,28.35,N/A,7.74,N/A,4.0900,N/A,20.829872,N/A,9.003271,N/A,N/A
500,ZION,72.24,N/A,7.26,N/A,1.61,N/A,3.0800,N/A,5.524030,N/A,2.810731,N/A,N/A
501,ZTS,198.24,N/A,45.83,N/A,20.17,N/A,12.0000,N/A,30.690681,N/A,16.704894,N/A,N/A

## Dealing With Missing Data in Our DataFrame

In [126]:
rv_dataframe[rv_dataframe.isnull().any(axis= 1)]

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
28,ALXN,182.800,N/A,60.63,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
40,AON,335.760,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
71,BRK.B,373.110,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
118,CTL,11.000,N/A,9.98,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
136,DISCK,28.530,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
165,ETFC,51.260,N/A,14.81,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
186,FLIR,58.490,N/A,33.44,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
190,FOX,39.000,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
193,FRT,124.280,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
204,GOOG,2931.440,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
324,MXIM,104.260,N/A,34.63,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
325,MYL,15.895,N/A,31.22,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
326,NBL,8.550,N/A,-0.76,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
347,NWS,22.960,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
441,TROW,152.440,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
451,UA,16.340,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
492,XLNX,195.830,N/A,54.04,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A

Dealing with missing data is an important topic in data science.

There are two main approaches:

- Drop missing data from the data set (pandas' `dropna` method is useful here)
- Replace missing data with a new value (pandas' `fillna` method is useful here)

In [127]:
for column in ['Price-to-Earnings Ratio', 'Price-to-Book Ratio', 'Price-to-Sales Ratio','EV/EBITDA', 'EV/GP']:
    rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace=True)

## Calculating Value Percentiles

In [128]:
# from scipy.stats import percentileofscore as score
# The same logic as we did in quantitative momentum strategy but with different method
metrics = {'Price-to-Earnings Ratio': 'PE Percentile',
            'Price-to-Book Ratio':'PB Percentile',
            'Price-to-Sales Ratio': 'PS Percentile',
            'EV/EBITDA':'EV/EBITDA Percentile',
            'EV/GP':'EV/GP Percentile'}
for metric in metrics.keys():
    for row in rv_dataframe.index:
        rv_dataframe.loc[row, metrics[metric]] = score(rv_dataframe[metric], rv_dataframe.loc[row, metric])
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,140.92,N/A,35.52,74.302789,8.25,79.880478,6.3500,79.780876,24.907457,81.673307,12.033629,79.282869,N/A
1,AAL,17.22,N/A,-5.80,3.984064,-1.50,5.976096,0.3842,1.992032,-11.864407,4.780876,1.215118,3.386454,N/A
2,AAP,223.80,N/A,23.58,48.605578,4.39,60.856574,1.2000,15.737052,12.678941,42.231076,2.852355,14.541833,N/A
3,AAPL,178.85,N/A,30.33,64.741036,41.17,97.410359,7.8400,85.059761,23.277958,77.888446,17.978103,91.035857,N/A
4,ABBV,166.02,N/A,25.18,53.386454,19.37,93.227092,5.2300,72.808765,12.343089,39.641434,8.784427,57.768924,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,YUM,122.06,N/A,23.72,49.800797,-4.21,5.577689,5.3400,73.406375,20.218081,71.314741,9.429021,65.737052,N/A
498,ZBH,129.20,N/A,65.82,93.426295,2.15,31.673307,3.4800,51.494024,19.249530,67.330677,5.767800,36.653386,N/A
499,ZBRA,444.11,N/A,28.35,60.557769,7.74,78.486056,4.0900,58.964143,20.829872,72.709163,9.003271,63.545817,N/A
500,ZION,72.24,N/A,7.26,9.561753,1.61,22.011952,3.0800,46.912351,5.524030,11.553785,2.810731,13.944223,N/A
501,ZTS,198.24,N/A,45.83,84.262948,20.17,93.824701,12.0000,92.828685,30.690681,89.043825,16.704894,89.043825,N/A

## Calculating the RV Score
We'll now calculate our RV Score (which stands for Robust Value), which is the value score that we'll use to filter for stocks in this investing strategy.

The RV Score will be the arithmetic mean of the 4 percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [129]:
# from statistics import mean
for row in rv_dataframe.index:
    value_percentiles = []
    for metric in metrics.keys():
        value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
    rv_dataframe.loc[row,'RV Score'] = mean(value_percentiles)

## Selecting the 50 Best Value Stocks

In [130]:
rv_dataframe.sort_values('RV Score', ascending=False, inplace=True)
rv_dataframe = rv_dataframe[:50]
rv_dataframe.reset_index(drop=True, inplace = True)

## Calculating the Number of Shares to Buy
We'll use the portfolio_input function that we created earlier to accept our portfolio size.

Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

In [131]:
portofolio_input()

Enter the value of your portofolio: 10000000

In [132]:
position_size = val/ len(rv_dataframe.index)
for i in range(0, len(rv_dataframe.index)):
    rv_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/rv_dataframe['Price'][i])

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,NOW,573.17,348,507.42,99.800797,30.97,96.414343,19.60,98.605578,156.076832,99.800797,24.136243,96.613546,98.247012
1,DXCM,489.66,408,322.90,99.601594,21.00,94.223108,19.63,98.804781,121.587310,99.601594,27.779202,98.605578,98.167331
2,NVDA,281.32,710,73.43,94.820717,26.41,95.816733,26.17,100.0,59.851835,98.207171,39.146610,99.40239,97.649402
3,PAYC,345.64,578,103.41,96.812749,23.75,95.61753,20.39,99.40239,63.600676,98.605578,22.184108,95.219124,97.131474
4,FTNT,348.06,574,96.06,96.215139,71.28,99.003984,16.51,96.613546,72.088541,99.003984,20.431165,93.824701,96.932271
5,IDXX,558.18,358,64.59,93.227092,67.60,98.804781,14.74,95.219124,44.422348,96.015936,24.917372,97.410359,96.135458
6,CDNS,166.46,1201,63.67,92.828685,16.07,91.633466,15.35,95.61753,52.754423,97.609562,16.201195,88.645418,93.266932
7,ISRG,295.82,676,63.61,92.629482,8.75,81.474104,18.70,97.410359,46.842863,97.011952,24.830129,97.011952,93.10757
8,TYL,437.95,456,115.91,97.410359,7.72,78.286853,11.27,92.031873,84.518632,99.203187,26.361400,97.808765,92.948207
9,ABMD,321.05,622,112.26,97.211155,10.61,83.266932,14.67,95.01992,51.299853,97.410359,17.545062,90.438247,92.669323
10,ADSK,216.02,925,98.05,96.414343,56.97,98.406375,10.66,90.836653,64.238422,98.804781,11.447278,76.693227,92.231076
11,MKTX,352.73,567,53.59,89.243028,13.19,87.848606,19.51,98.406375,33.785393,92.231076,19.019134,92.430279,92.031873
12,ANET,142.80,1400,53.40,89.043825,10.93,83.665339,15.13,95.418327,39.853344,95.61753,20.431284,94.023904,91.553785
13,MA,355.72,562,39.91,79.681275,47.52,97.808765,18.79,97.609562,31.995223,90.63745,18.371818,91.633466,91.474104
14,SPGI,433.53,461,34.41,72.709163,72.08,99.203187,17.68,97.011952,31.392405,89.840637,22.958982,96.015936,90.956175
15,WST,422.96,472,48.44,86.25498,13.15,87.649402,11.04,91.23506,32.347257,91.23506,24.666527,96.812749,90.63745
16,RMD,242.14,825,68.30,93.824701,11.49,84.661355,10.34,90.239044,34.771611,93.426295,17.743761,90.63745,90.557769
17,AMD,120.31,1662,48.20,85.856574,19.80,93.625498,9.14,87.749004,34.934414,93.625498,18.052146,91.23506,90.418327
18,AMT,247.95,806,43.14,82.270916,22.50,94.820717,11.76,92.629482,27.032569,85.059761,22.633203,95.816733,90.119522
19,EW,112.97,1770,47.72,85.258964,12.18,86.055777,13.66,94.023904,39.084276,95.219124,16.855816,89.442231,90.0
20,ZTS,198.24,1008,45.83,84.262948,20.17,93.824701,12.00,92.828685,30.690681,89.043825,16.704894,89.043825,89.800797
21,PSA,386.00,518,39.30,78.884462,12.86,87.250996,19.40,98.007968,27.035022,85.258964,28.646823,99.003984,89.681275
22,CCI,185.31,1079,71.41,94.422311,9.58,82.47012,12.38,93.027888,25.694785,83.067729,21.902989,94.820717,89.561753
23,ADBE,437.48,457,45.21,83.266932,14.02,89.043825,13.51,93.824701,34.565292,93.027888,14.585120,86.454183,89.123506
24,LLY,291.02,687,48.43,86.055777,30.88,96.215139,9.96,89.043825,31.405928,90.039841,13.697822,84.262948,89.123506
25,VRSK,209.00,956,53.08,88.645418,11.95,85.657371,11.45,92.231076,27.313837,86.055777,19.731863,92.828685,89.083665
26,MTD,1404.09,142,42.65,81.673307,193.08,100.0,8.65,86.85259,30.841851,89.243028,14.978037,87.450199,89.043825
27,V,227.00,881,37.79,77.091633,14.60,90.039841,18.90,97.808765,28.436544,86.653386,19.778110,93.027888,88.924303
28,INTU,481.94,414,60.55,91.23506,8.47,80.677291,11.07,91.832669,44.548282,96.215139,13.921041,84.661355,88.924303
29,ANSS,310.04,645,61.19,91.633466,6.11,71.912351,14.35,94.820717,45.787010,96.812749,15.259620,87.848606,88.605578
30,SNPS,325.05,615,57.61,90.836653,9.14,81.673307,11.05,91.533865,44.779080,96.613546,12.637645,81.673307,88.466135
31,EQIX,723.15,276,129.74,98.207171,6.10,71.613546,10.08,89.641434,27.063113,85.458167,23.887662,96.215139,88.227092
32,ALB,222.49,898,213.00,99.003984,4.59,62.350598,7.75,84.661355,32.434488,91.434263,28.388688,98.804781,87.250996
33,ROL,34.70,5763,49.06,87.051793,16.12,91.832669,7.16,82.47012,32.210203,91.035857,13.499515,83.665339,87.211155
34,EXR,198.11,1009,34.47,72.908367,8.50,80.876494,17.20,96.812749,30.241460,88.446215,20.753644,94.621514,86.733068
35,UDR,58.70,3407,119.05,97.609562,5.59,68.326693,14.28,94.621514,23.990587,79.681275,17.780485,90.836653,86.215139
36,PAYX,131.37,1522,36.47,75.697211,15.32,91.035857,11.05,91.533865,24.082911,80.278884,14.887590,87.051793,85.119522
37,MSFT,308.72,647,32.56,68.924303,14.27,89.840637,12.40,93.227092,25.048181,82.071713,17.074699,89.840637,84.780876
38,JKHY,200.73,996,43.46,82.669323,11.50,84.860558,7.83,84.860558,22.713627,77.290837,19.353564,92.629482,84.462151
39,PLD,160.62,1245,41.84,81.075697,3.52,50.697211,25.58,99.800797,30.073636,88.247012,28.677034,99.203187,83.804781
40,BKNG,2278.08,87,80.50,95.01992,15.00,90.836653,8.52,86.25498,31.070703,89.641434,8.352843,54.98008,83.346614
41,AAPL,178.85,1118,30.33,64.741036,41.17,97.410359,7.84,85.059761,23.277958,77.888446,17.978103,91.035857,83.227092
42,NEE,86.72,2306,48.67,86.653386,4.54,61.952191,9.99,89.243028,28.834826,87.450199,17.148694,90.239044,83.10757
43,ALGN,449.46,444,45.78,83.864542,9.40,82.071713,8.77,87.051793,29.022090,87.649402,10.910300,73.904382,82.908367
44,CMG,1574.57,127,69.22,94.023904,19.68,93.426295,5.84,77.49004,39.320464,95.418327,8.083080,52.788845,82.629482
45,MAA,209.31,955,46.43,84.661355,4.16,58.76494,14.05,94.422311,27.265374,85.856574,15.849174,88.446215,82.430279
46,WAT,339.17,589,29.82,63.14741,56.51,98.207171,7.44,83.665339,25.530276,82.669323,13.410213,83.067729,82.151394
47,ESS,346.30,577,46.59,84.860558,3.86,55.179283,16.02,96.314741,24.529792,80.876494,19.873988,93.227092,82.091633
48,INFO,110.11,1816,37.66,76.89243,5.02,65.438247,10.22,90.039841,28.482352,87.051793,17.132964,90.039841,81.89243
49,CTAS,433.28,461,39.50,79.282869,12.29,86.25498,5.97,78.486056,25.024432,81.87251,13.484898,83.266932,81.832669

## Formatting and Saving Our Excel Output

In [136]:
writer = pd.ExcelWriter('value_startegy.xlsx', engine= 'xlsxwriter')
rv_dataframe.to_excel(writer, sheet_name='Value Strategy', index= False)
writer.save()